<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>

    <link rel = "stylesheet" href="https://kothing.github.io/editor/dist/css/kothing-editor.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/xml/xml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/css/css.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.css"
    />

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
    <script src="https://kothing.github.io/editor/dist/kothing-editor.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .item:hover     {

                        transform: scale(1.01);
                        cursor: pointer;
                        transition-delay: 100ms;
                        transition-duration: 500ms;
                }

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

    </style>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      let margin_v=1;
      let margin_h=1;
      tinymce.init({
        selector: '#mytextarea',
        init_instance_callback:(editor)=>{
            console.log(editor);
            let pageScript = document.createElement("script");
            pageScript.src = "pagebreaker.js";
            editor.dom.doc.head.appendChild(pageScript);
            console.log('done adding script');
        },
        content_style: `body { margin: ${margin_v}rem ${margin_h}rem; }`,
        width:'21cm',
        height:'29.7cm',
        plugins: 'advlist link image imagetools lists autoresize autosave hr pagebreak table noneditable paste',
        toolbar: 'restoredraft hr image pagebreak noneditable undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat ',
        table_cell_advtab: true,
        lists_indent_on_tab: true,
        table_background_color_map: [
    {title: 'Red', value: 'FF0000'},
    {title: 'White', value: 'FFFFFF'},
    {title: 'Yellow', value: 'F1C40F'}
  ],
        paste_block_drop: true,
      });
    </script>


</head>
<body style="background-color: beige">

<div class="container-sm">

    <h3>Available Templates</h3>
    <div class="container-sm" th:each="templateName:${templateNames}">
        <div class="bg-light py-1 px-5 hover-shadow item">
            <a th:href="@{'/deleteTemplate/' + ${templateName}}"><span class="bg-light py-1 px-5 hover-shadow item">[X]</span></a>
            <a th:href="@{'/editTemplate/' + ${templateName}}"><span class="bg-light py-1 px-5 hover-shadow item">[ EDIT ]</span></a>

            <a th:href="@{'/getTemplate/' + ${templateName}}"><span class="bg-light py-1 px-5 hover-shadow item" th:text="${templateName}"></span></a>

        </div>
        <br>

    </div>

    <div class="card">
        <div class="card-header"><h4>Create a Template</h4></div>
        <div class="card-body">
            <form action="handleNewContent" method="POST" id="htmlForm">
                <input type="text" name="htmlContent"  id="htmlContent" hidden="true">
                <input type="submit" value="Create Template" class="btn btn-primary">
                <label>Vertical Margin</label>
                <input type="range" id="marginSlider_v" name="margin_v" min="0" max="10" value="1" step="1">
                <label>Horizontal Margin</label>
                <input type="range" id="marginSlider_h" name="margin_h" min="0" max="10" value="1" step="1">

            </form>

            <div id="mytextarea" class="page" style="margin:3 auto;">Enter text here</div>
            <br><br>


        </div>
    </div>


</div>



</body>
</html>


<script>
    let slider_v = document.getElementById("marginSlider_v");
    let slider_h = document.getElementById("marginSlider_h");
    slider_v.oninput=(e)=>{
        margin_v=e.target.value;
        console.log(tinymce.get("mytextarea").getContent());
        tinyMCE.editors[0].contentWindow.document.body.style.margin = `${margin_v}rem ${margin_h}rem`;
    };
    slider_h.oninput=(e)=>{
        margin_h=e.target.value;
        console.log(tinymce.get("mytextarea").getContent());
        tinyMCE.editors[0].contentWindow.document.body.style.margin = `${margin_v}rem ${margin_h}rem`;
    };

    htmlForm.onsubmit=()=>{
        htmlContent.value = tinymce.get("mytextarea").getContent();
        window.alert(htmlContent.value);
        return true;
    };

</script>
